#FundoMenu
{
	width:100%;
	height:110px;
	background: black;
	position: fixed;
	z-index: 9999; 
	top:0;
	left:0;
}

#menu
{
	position: absolute;
	width:900px;
	top: 0; 
	bottom: 0;
	left: 0; 
	right: 0;
	margin: auto;
}

#menu ul {
	padding:0px;
	margin:0px;
	list-style:none;
}

#menu ul li 
{ 
	position: relative;
	
    top: 60px;
    padding: 0px 24px;
	bottom: 0;
	padding-left:0;
	left: 355px; 
	right: 0;
	margin: auto;
	display: inline; 
}

#menu ul li a 
{
	display: inline-block;
	color: #FFF;
	font-size: 18px;
	font-family: arial;
	text-decoration: none;
}

#telaCidada
{
	position:absolute;
    top: 15px; 
	bottom: 0;
	left: 0;
	margin: auto;
}

#FundoRedeSociais
{
	position:absolute;
	width:129px;
	height:25px;
    top: 20px; 
	bottom: 0;
	left: 771px; /* 900 - 129 */
	right: 0;
	margin: auto;
	/*background:blue;*/
}

#RedeSociais
{
	position:absolute;
	right: 0px;
}
