<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	{% load staticfiles %}
	<link href="{% static 'css/ImgV.css' %}" rel="stylesheet" />
</head>
<body>
	<div id="fundo1">
		<div id="bloco1">
			<div id="subBloco1"><img class="img1" src="midia/blog01.png" alt="Fjords" width="300" height="200"/></div>
			<div id="subBloco2"><img class="img2" src="midia/cotas01.png" alt="Fjords" width="300" height="200"/></div>
			<div id="subBloco3"><img class="img3" src="midia/guia01.png" alt="Fjords" width="300" height="200"/></div>
		</div>
	</div>

	<div id="fundo2">
		<div id="blocoTexto1">
			<p class="arial">O QUE POSSO ENCONTRAR</p>
			<p id="oguia">O guia do cidadao Brasileiro e um material que reune as principais duvidas da populacao sobre o sistema politico do Pais. Nele voce encontra respostas objetivas e de fácil compreensão.</p>
			<p style="font-size:16px;"><b>Assista nosso vídeo!</b></p>
		</div>
		
		<div class="blocoVideo1">
			<iframe src=""></iframe> 
		</div>
	</div>

	<div id="fundo3" class="image">
		<div id="bloco2">
			<div id="subBloco4">
				<p class="arial" id="comoapr"> COMO APRENDER SOBRE POLITICA? </p>
			</div>

			<div id="subBloco5">
				<p class="exp"> O guia do cidadão brasileiro é um material que reúne as principais dúvidas da população sobre o sistema político do País. Nele você encontra respostas objetivas e de fácil compreensão.</p>
				<p class="exp"> Para conhecer melhor os conceitos sobre a política brasileira, acesse nosso Guia.</p>
				<p class="exp"><b> Para ler mais o Guia, <a href="google.com">clique aqui</a>. </b></p>
			</div>
		</div>	
	</div>
</body>
</html>
