<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Cabeçalho -->
    <meta http-equiv="content-type"	content="text/html;charset=utf-8" />
    <meta name="Autor/Revisor" content="gustavodag@ncd.ufes.br" />

    {% load staticfiles %}

    <!-- Importa arquivos estaticos do rodape -->
    <link href="{% static 'css/rodape.css' %}" rel="stylesheet" />

</head>
	<body id = "body">
		<div id = "rodape">
			
		</div>
	</body>
</html>
