<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<!-- Cabeçalho -->
		<meta http-equiv="content-type"	content="text/html;charset=utf-8" />
		<meta name="Autor/Revisor" content="gustavodag@ncd.ufes.br" />
		<title>Tela Cidadã</title>    
		
		{% load staticfiles %}
		<!-- Importa o css responsavel pelo corpo do da pagina -->
    	<link href="{% static 'css/home.css' %}" rel="stylesheet" />
	</head>
	<body>
		<ul id="menu">
			<li><a href="/administrador/criarPost/">Criar Post</a></li>
			<li><a href="/administrador/editarPosts/">Editar Post</a></li>
			<li><a href="/administrador/vizualizarPosts/">Vizualizar Posts</a></li>
		</ul>
	</body>
</html>
